// Custom styles

$profile-social-font-size: 2rem;

.profile .social.profile-social {
  margin-top: -2rem;
  text-align: center;
  
  .contact-icons {
    margin-bottom: 0.2rem;
    
    a {
      font-size: $profile-social-font-size !important;
      margin: 3px;
      
      // Increase selector specificity to avoid !important
      a.profile-social-icon i {
        font-size: $profile-social-font-size;
      }
    }
  }
  
  .contact-note {
    font-size: 0.8rem;
  }
}

.post.about-page .profile {
  margin-top: -70px; 
}

/* Make the profile photo smaller on desktop/tablet */
@media (min-width: 576px) {
  .post.about-page .profile {
    width: 25%; /* was 30% by default */
  }
}

.post.about-page .profile .profile-social {
  margin-top: -50px;
}

.post.about-page .post-header {
  margin-bottom: 0.75rem; 
}

/* Move subtitle below profile socials on mobile */
.post.about-page .mobile-profile-subtitle {
  display: none;
}

@media (max-width: 576px) {
  .post.about-page .post-header .desc {
    display: none; /* hide header subtitle on mobile */
  }
  .post.about-page .mobile-profile-subtitle {
    display: block; /* show the one under the profile socials */
    margin-top: -0.75rem;
    text-align: center;
    color: var(--global-text-color-light);
  }

  .post.about-page .profile {
    margin-top: 0; 
  }
  .post.about-page .profile .profile-social {
    margin-top: 0.75; 
  }
  .post.about-page .post-header {
    margin-bottom: 0rem; 
  }
}
