// Custom styles

// Custom styles

$profile-social-font-size: 2rem;

.profile .social.profile-social {
  margin-top: -2rem;
  text-align: center;
  
  .contact-icons {
    margin-bottom: 0.2rem;
    
    a {
      font-size: $profile-social-font-size !important;
      margin: 3px;
      
      // Increase selector specificity to avoid !important
      a.profile-social-icon i {
        font-size: $profile-social-font-size;
      }
    }
  }
  
  .contact-note {
    font-size: 0.8rem;
  }
}
